.header--title 
{
    color: #00d455ff;
    text-align: center;
  
    > a {
      &:hover,
      &:focus {
        color: #00d455ff;
        text-decoration: none;
      }
    }
  }


.header--tagline 
{
    color: #00d455ff;
    text-align: center;
}

.header--nav 
{
    text-align:center;
    margin-bottom: 0;
  
    > li {
        list-style:none;
        margin-left:0;
      > a {
        padding: 12px;
        font-weight: bold;
        display:inline-block;
        *display:inline;
        zoom:1;
  
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
