---
title: Luiza
layout: default
---

<div class="presentation">
    <div class="row justify-content-md-center">
        
                <div class="container-first-name">
                    <div>
                        <h1 class="first-name">{{site.author_first_name}}</h1>
                    </div>
                    <div>
                        <p class="last-job">{{site.author_last_job}}</p>
                    </div>
                </div>

                <div class="container-last-name">
                    <div>
                        <p class="first-job">{{site.author_first_job}}</p>
                    </div>
                    <div>
                        <h1 class="last-name">{{site.author_last_name}}</h1>
                    </div>
                </div>
        </div>

        <div class="container-show-nav">
            <h1 class="show-navigation justify-content-md-center">
                {% include enternav.html %}
            </h1>
        </div>
       
</div>

